{% extends "configure/base.html" %}

{% block content %}
<section>
  <h2>Stored Channels</h2>
  {% if channels %}
  <ol>
    {% for channel in channels %}
    <li>
      <a href="{{ channel.url }}">{{ channel.title }}</a>{% if channel.vote %}
      <span class="thumb-icon {% if channel.vote == '👍' %}thumb-up{% else %}thumb-down{% endif %}">
        {{ channel.vote }}
      </span>{% endif %}
    </li>
    {% endfor %}
  </ol>
  {% else %}
  <p>No channels have been stored yet.</p>
  {% endif %}
</section>
{% endblock %}
